body {
    background-color: #f3e9f3;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #6c3d6f;
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
    background-color: transparent;
    outline: none !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #6c3d6f;
    outline: none !important;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    border: 2px solid #6c3d6f;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
    background-color: #6c3d6f;
    color: white;
}

a {
    color: #6c3d6f;
}

a:hover {
    color: #4a2e47;
}
